<template>
    <section>
        <h3>Artikel Detail</h3>
        <div>
            <div>
                <div>
                    <img :src="item.url">
                </div>
            </div>
            <div>
                <p>{{item.title}}</p>
                <p>{{item.price|price}}</p>
                <p>{{item.note}}</p>
                <p>
                    <span v-for="tag in item.tags">{{tag}} </span>
                </p>
                <p>{{item.producer}}</p>
                <p>{{item.color}}</p>
            </div>
        </div>
        <a id="close" href="#" @click="close">X</a>
    </section>
</template>

<script>
  export default {
    name: 'ItemDetail',
    props: {
      item: { type: Object, required: false },
    },
    computed: {
    },
    filters: {
      price: function (value) {
        if (!value) return '';
        return `${value.toFixed(2)} €`
      }
    },
    methods: {
      close(e) {
        this.$emit('close', e);
      },
    },
  };
</script>

<style scoped>
    p {
        margin: 12px 0px;
    }
    section {
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 18px;
        width: 700px;
        height: 400px;
        background: white;
        box-shadow: 0px 1px 20px 4px rgba(0,0,0,.6);
        border: 1px solid #2bb32b;
    }
    section > div {
        position: relative;
        overflow-y: auto;
        padding: 0px;
    }
    #close {
        position: absolute;
        right: 32px;
        top: 17px;
        font-size: 2em;
        text-decoration: none;
        padding: 4px 24px;
    }
    #close:hover {
        color: red;
    }
    section > div {
        display: flex;
    }
    img {
        max-width: 260px;
        margin: 0px 18px 18px 0px;
    }
    h3  {
        border-bottom: 1px solid silver;
    }
    div > p:first-child,
    div > p:nth-child(2)
    {
        font-weight: bold;
    }
</style>
