<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div id="" content>
        <div id="header">
            <div id="controls">
                <span :class="{isSelected: mediaPage === -1}" @click="mediaPage = -1">Custom</span>
                <span :class="{isSelected: mediaPage === index}" v-for="(mediaSite, index) in mediaSites"
                      @click="mediaPage = index">{{mediaSite.name}}</span>
                <div v-if="mediaPage === 0">
                    <span>Get</span>
                    <span>Set</span>
                </div>
            </div>
            <div id="titleBar">
                <span>x</span>
            </div>
        </div>
        <div id="mediaSite" v-if="mediaPage > -1">
            <iframe :src="mediaSites[mediaPage].url"></iframe>
        </div>
        <div id="mediaLib" v-if="mediaPage === -1">
            <div id="searchColumn">
                <div id="search">
                    <input name="search" type="search" v-model="input" placeholder="Suchen">
                </div>
                <div id="sort">
                    <a @click="sortTag = 'title'" :class="{isSelected: sortTag === 'title'}" href="#">Name</a>
                    <a @click="sortTag = 'price'" :class="{isSelected: sortTag === 'price'}" href="#">Preis</a>
                </div>
                <div id="lists">
                    <h5>Kategorie</h5>
                    <div>
                        <a v-if="filterCategory" @click="filterCategory = null" href="#">(alle)</a>
                        <a v-for="item in getCountedArrayOf('category')" @click="filterCategory = item.name"
                           href="#">{{item.name}} <span>({{item.count}})</span></a>
                    </div>
                    <h5>Hersteller</h5>
                    <div>
                        <a v-if="filterProducer" @click="filterProducer = null" href="#">(alle)</a>
                        <a v-for="item in getCountedArrayOf('producer')" @click="filterProducer = item.name"
                           href="#">{{item.name}} <span>({{item.count}})</span></a>
                    </div>
                </div>
            </div>
            <div id="items">
                <div v-for="(image, index) in filteredImages">
                    <p><img @click="select(image.url)" :src="image.url"
                            :class="{isSelectedItem : selectedItem === image.url}"
                            draggable="true"><span @click="itemDetail = image" title="Details">{{image.title}}</span>
                        <span>{{image.price | price}}</span>
                    </p>
                </div>
            </div>
            <item-detail v-if="itemDetail" :item="itemDetail" @close="itemDetail=null"></item-detail>
        </div>
    </div>
</template>

<script>
  import data from './data.json';
  import ItemDetail from './components/ItemDetail.vue';

  function toDataURL(src, callback, outputFormat) {
    const img = new Image();
    img.crossOrigin = 'Anonymous';
    img.onload = function () {
      const canvas = document.createElement('CANVAS');
      const ctx = canvas.getContext('2d');
      canvas.height = this.naturalHeight;
      canvas.width = this.naturalWidth;
      ctx.drawImage(this, 0, 0);
      callback(canvas.toDataURL(outputFormat), this.naturalWidth, this.naturalHeight);
    };
    img.src = src;
    if (img.complete || img.complete === undefined) {
      img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
      img.src = src;
    }
  }

  export default {
    name: 'App',
    data: () => ({
      input: '',
      images: data.images,
      filter: {},
      filterCategory: '',
      filterProducer: '',
      sortTag: 'title',
      selectedItem: "",
      itemDetail: null,
      mediaPage: -1,
      mediaSites: [
        {
          'name': 'Shop',
          'url': 'https://www.visitlead.de'
        },
        {
          'name': 'Canon',
          'url': 'https://www.canon.de/#href-Produkte'
        },
        {
          'name': 'De Longhi',
          'url': 'http://www.bosch-home.com/de/'
        },
        {
          'name': 'Miele',
          'url': 'https://www.miele.de/'
        }],
      test: '<h1>Hallo</h1>'
    }),
    components: {
      ItemDetail
    },
    filters: {
      price: function (value) {
        if (!value) return '';
        return `${value.toFixed(2)} €`
      }
    },
    computed: {
      filteredImages() {
        let filteredArr = [];
        filteredArr = [...this.images];
        /* Spread Operator */
        if (this.input) {
          const inputLower = this.input.toLowerCase();
          filteredArr = filteredArr.filter((image) => {
            if (image.title.toLowerCase().includes(inputLower)) {
              return true;
            }
            return image.tags.find(tag => tag.toLowerCase().includes(inputLower));
          });
        }
        if (this.filterProducer) {
          filteredArr = filteredArr.filter((item) => {
            return item.producer.toLowerCase().includes(this.filterProducer.toLowerCase());
          });
        }
        if (this.filterCategory) {
          filteredArr = filteredArr.filter((item) => {
            return item.category.toLowerCase().includes(this.filterCategory.toLowerCase());
          });
        }
        filteredArr.sort((a, b) => {
          return ( (a[this.sortTag] > b[this.sortTag] ? 1 : -1) );
        });
        if (filteredArr.length > 0) {
          return filteredArr;
        } else {
          return this.images;
        }
      },
    },
    mounted() {
      if (window.ipcRenderer) {
        window.ipcRenderer.on('appSend', (data) => {
          console.log('received something from app!', data);
          /*
          data:
          {
           fn: 'callInfo'
           data: [
             {
               description: 'Haushaltsgeräte (AEG Service)',
               metadata: {
                 customTag: 'otherStuff',
                 manufacturer: 'AEG'
               },
               name: 'Media Markt Alexanderplatz'
             },
           ]
          }
          */
        })
      }
    },
    methods: {
      setOrder(tag) {
        tagArray.sort(function (a, b) {
          return (a.name > b.name);
        });
      },
      getCountedArrayOf(tag) {
        let tagArray = [];
        this.filteredImages.forEach((image) => {
          const existingElem = tagArray.find(item => item.name === image[tag]);
          if (existingElem) {
            existingElem.count++;
          } else {
            const elem = {};
            elem.name = image[tag];
            elem.count = 1;
            tagArray.push(elem);
          }
        });
        tagArray.sort(function (a, b) {
          return (a.name > b.name);
        });
        return tagArray;
      },
      select(url) {
        console.log('select', window.ipcRenderer);
        this.selectedItem = url;
        console.log('select.url', this.selectedItem);
        if (window.ipcRenderer) {
          toDataURL(url, (src, width, height) => {
            console.log('send', {
              src,
              width,
              height,
            });
            window.ipcRenderer.send('mediaLib2app', {
              fn: 'streamImage',
              data: {
                src,
                width,
                height,
              },
            });
          });
        }
      }
    }
  };
</script>

<style scoped>
    html * {
        font-family: Arial;
    }

    body {
        margin: 0px !important;
        background-color: #F2F2F2;
    }

    iframe {
        border: none;
        width: 100%;
        height: calc(100vh - 100px);
    }

    .isSelected {
        border-bottom: 4px solid #8bc34a;
    }

    .isSelectedItem {
        outline: 2px dashed red;
    }

    #header {
        height: 56px;
        background: white;
        color: #757575;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        display: flex;
        justify-content: space-between;
    }

    #titleBar {
        align-items: center;
        margin-left: 16px;
        display: flex;
    }

    #titleBar span {
        min-width: 30px;
    }

    #controls {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #controls > div {
        display: flex;
        margin-left: 48px;
        height: 100%;
    }

    #controls span {
        min-width: 90px;
        height: 100%;
        box-sizing: border-box;
        padding-top: 19px;
        padding-left: 6px;
        padding-right: 6px;
        text-align: center;
        cursor: pointer;
    }

    #controls span:hover {
        border-bottom: 4px solid #8bc34a;
    }

    #mediaLib {
        display: flex;
        margin: 18px;
    }

    #searchColumn {
        margin: 0px 8px 8px 0;
    }

    #searchColumn h5 {
        margin-top: 0px;
        margin-bottom: 6px;
    }

    #search input {
        padding: 8px;
    }

    #sort {
        margin-top: 12px;
    }

    #sort a {
        font-size: .8em;
        margin: 0px 4px;
        text-decoration: none;
    }

    #lists {
        margin-left: 18px;
        display: inline;
    }

    #lists a {
        display: block;
        white-space: nowrap;
        margin: 3px 5px;
        font-size: 1em;
    }

    #lists a > span {
        font-size: .8em;
    }

    #lists > div {
        margin-bottom: 12px;
    }

    #items {
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        position: relative;
    }

    #items div {
        width: 240px;
        height: 110px;
        border: 1px solid #d8d2d2;
        box-sizing: border-box;
        margin-bottom: -1px;
        margin-right: -1px;
    }

    #items div p {
        cursor: pointer;
    }

    #items div img {
        max-width: 80px;
        max-height: 80px;
        margin-right: 8px;
        margin-bottom: 8px;
        float: left;
        cursor: pointer;
    }

    #items div p {
        font-size: .8em;
        margin: 5px;
    }

    #items div p span:last-of-type {
        font-weight: bold;
        padding-left: 8px;
    }

    #items div:hover {
        outline: 2px solid #2bb32b;
    }

</style>
